<h2>Resend confirmation instructions</h2>

<%= sl_form_with(model: resource, url: confirmation_path(resource_name), method: :post }) do |f| %>
  <%= render "users/shared/error_messages", resource: resource %>

  <app-form-group>
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
  </app-form-group>

  <sl-button-group>
    <%= f.submit "Resend confirmation instructions" %>
  </sl-button-group>
<% end %>

<%= render "users/shared/links" %>
