<style>
  sl-button-group:part(base) {
    justify-content: center;
  }
</style>

<sl-card style="width: 100%;">
  <h2 slot="header"><%= t("auth.resend_confirmation") %></h2>

  <%= form_with(model: resource, url: confirmation_path(resource_name), method: :post) do |f| %>
    <kpc-form-group size="medium">
      <%= sl_email **resource.form_fields(:email).merge({ value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) }) %>
    </kpc-form-group>

    <sl-button-group style="margin: 0 auto;">
      <%= sl_submit { t("auth.resend_confirmation") } %>
    </sl-button-group>
  <% end %>

  <div slot="footer">
    <%= render "users/actions" %>
  </div>
</sl-card>
