<sl-card>
  <h2 slot="header"><%= t("auth.login") %></h2>

  <%= form_with(model: resource, url: session_path(resource_name), data: { controller: "devise", remote: "true" }) do |f| %>
    <%= render FlashComponent.new(
      variant: "warning", message: "", closable: false,
      html_attributes: { "hidden" => true, "data-devise-target" => "alert" }
    ) %>

    <kpc-form-group size="medium">
      <%= sl_email **form_fields(resource, :email), label: "Email" %>
    </kpc-form-group>

    <kpc-form-group size="medium">
      <%= sl_password autocomplete: "current-password", **form_fields(resource, :password) %>
      <kpc-link variant="default" style="margin-top: var(--sl-spacing-2x-small);" href="<%= new_password_path(resource_name) %>">
        <%= t("auth.forgot_password") %>
      </kpc-link>
    </kpc-form-group>

    <% if devise_mapping.rememberable? %>
      <kpc-form-group size="medium">
        <%= sl_checkbox(checked: resource.remember_me.present? ? "" : nil, **form_fields(resource, :remember_me)) do %>
          <%= t("auth.remember_me") %>
        <% end %>
      </kpc-form-group>
    <% end %>

    <sl-button-group>
      <%= sl_submit { t("auth.login") } %>
    </sl-button-group>
  <% end %>

  <div slot="footer">
    <%= render "users/actions" %>
  </div>
</sl-card>
