<sl-card>
  <h2 slot="header"><%= t("auth.login") %></h2>

  <% provide(:flash) do %>
    <% flash.each do |type, message| %>
      <%= render FlashComponent.new(variant: type, message: message) %>
    <% end %>
  <% end %>

  <%= content_for :flash %>

  <%= form_with(model: resource, url: session_path(resource_name), data: { remote: "true" }) do |f| %>
    <kpc-form-group size="medium">
      <%= sl_email **resource.form_fields(:email) %>
    </kpc-form-group>

    <kpc-form-group size="medium">
      <%= sl_password autocomplete: "current-password", **resource.form_fields(:password) %>
      <kpc-link variant="default" style="margin-top: var(--sl-spacing-2x-small);" href="<%= new_password_path(resource_name) %>">
        <%= t("auth.forgot_password") %>
      </kpc-link>
    </kpc-form-group>

    <% if devise_mapping.rememberable? %>
      <kpc-form-group size="medium">
        <%= sl_checkbox(checked: resource.remember_me.present? ? "" : nil, **resource.form_fields(:remember_me)) do %>
          <%= t("auth.remember_me") %>
        <% end %>
      </kpc-form-group>
    <% end %>

    <sl-button-group>
      <%= sl_submit { t("auth.login") } %>
    </sl-button-group>
  <% end %>

  <div slot="footer">
    <%= render "users/actions" %>
  </div>
</sl-card>
