<h2><%= t("auth.login") %></h2>

<%= sl_form_with(model: resource, url: session_path(resource_name)) do |f| %>
  <app-form-group>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </app-form-group>

  <app-form-group>
    <%= f.password_field :password, autocomplete: "current-password" %>
  </app-form-group>

  <% if devise_mapping.rememberable? %>
    <app-form-group>
      <input type="hidden" name="<%= form_name resource, :remember_me %>" value="0">
      <sl-checkbox value="1" name="<%= form_name resource, :remember_me %>"
                   <%= checked_html(resource.remember_me) %>>
        <%= t("auth.remember_me") %>
      </sl-checkbox>
    </app-form-group>
  <% end %>

  <sl-button-group>
    <%= f.submit t("auth.login") %>
  </sl-button-group>
<% end %>

<%= render "users/shared/links" %>
