<app-container style="margin-top: var(--sl-spacing-4x-large);">
  <sl-card>
    <h2 slot="header"><%= t("auth.login") %></h2>

    <%= render "users/shared/error_messages", resource: resource %>
    <%= form_with(model: resource, url: session_path(resource_name)) do |f| %>
      <app-form-group>
        <%= f.label :email %>
        <%= sl_tag "input", type: "email", autofocus: true, autocomplete: "email", **form_fields(resource, :email) %>
      </app-form-group>

      <app-form-group>
        <%= f.label :password %>
        <%= sl_tag "input", type: "password", autocomplete: "current-password", **form_fields(resource, :password) %>
        <app-link style="margin-top: var(--sl-spacing-2x-small);" href="<%= new_password_path(resource_name) %>">
          <%= t("auth.forgot_password") %>
        </app-link>
      </app-form-group>

      <% if devise_mapping.rememberable? %>
        <app-form-group>
          <input type="hidden" name="<%= form_name resource, :remember_me %>" value="0">
          <sl-checkbox value="1" name="<%= form_name resource, :remember_me %>"
                      <%= checked_html(resource.remember_me) %>>
            <%= t("auth.remember_me") %>
          </sl-checkbox>
        </app-form-group>
      <% end %>

      <sl-button-group>
        <%= sl_tag "button", type: "submit" do %>
          <%= t("auth.login") %>
        <% end %>
      </sl-button-group>
    <% end %>

    <div slot="footer">
      <%= render "users/shared/links" %>
    </div>
  </sl-card>
</app-container>
