<h2><%= t("auth.resend_unlock") %></h2>

<%= form_with(model: resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
  <kpc-form-group size="medium">
    <%= sl_email_field **resource.form_fields(:email) %>
  </kpc-form-group>

  <sl-button-group size="medium">
    <%= sl_submit { t("auth.resend_unlock") } %>
  </sl-button-group>
<% end %>

<%= render "users/actions" %>
