<h2><%= t("auth.resend_unlock") %></h2>

<%= form_with(model: resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "users/shared/error_messages", resource: resource %>

  <%= f.form_group do %>
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  <% end %>

  <%= f.button_group do %>
    <%= f.submit t("auth.resend_unlock") %>
  <% end %>
<% end %>

<%= render "users/shared/links" %>
