<!DOCTYPE html>
<html>
  <head>
    <title>CablereadyTest</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= action_cable_meta_tag %>

    <meta content="<%= current_user&.id %>" id="current_user" name="current_user" />

    <%= vite_client_tag %>
    <%= vite_stylesheet_tag 'application', data: { "turbo-track": "reload" } %>
    <%= vite_javascript_tag 'application', data: { "turbo-track": "reload" } %>
    <style>
      :where(:not(:defined)) {
        visibility: hidden;
      }
    </style>
  </head>

  <body>
    <div style="margin: var(--sl-spacing-x-small);">
      <%= render "/flashes", flash: flash unless content_for(:flash) %>
    </div>

    <main>
      <kpc-container size="xx-large" style="margin: var(--sl-spacing-4x-large) auto 0 auto;">
        <%= yield %>
      </kpc-container>
    </main>

    <%= render DialogComponent.new(label: t("confirm"), id: "dialog") do %>
      <div slot="header"><%= t("account.delete_confirm") %></div>
    <% end %>
  </body>
</html>
