<!DOCTYPE html>
<html>
  <head>
    <title>CablereadyTest</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= action_cable_meta_tag %>

    <%# <%= vite_client_tag %1> %>
    <%# <%= vite_stylesheet_tag 'application', data: { "turbo-track": "reload" } %1> %>
    <%# <%= vite_javascript_tag 'application', data: { "turbo-track": "reload" } %1> %>
    <link href="<%= AssetMapper.find("application.css") %>" rel="stylesheet">
    <script src="<%= AssetMapper.find("application.js") %>"></script>
  </head>

  <body>
    <div>
      <% flash.each do |type, message| %>
        <%= render FlashComponent.new(type: type, message: message) %>
      <% end %>
    </div>

    <%= yield %>
  </body>
</html>
