<!DOCTYPE html>
<html>
  <head>
    <title>CablereadyTest</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= action_cable_meta_tag %>

    <%= vite_client_tag %>
    <%= vite_stylesheet_tag 'application', data: { "turbo-track": "reload" } %>
    <%= vite_javascript_tag 'application', data: { "turbo-track": "reload" } %>
  </head>

  <body>
    <div style="margin: var(--sl-spacing-x-small);">
      <%= render "/flashes", flash: flash unless content_for(:flash) %>
    </div>

    <main>
      <kpc-container size="xx-large" style="margin: var(--sl-spacing-4x-large) auto 0 auto;">
        <%= yield %>
      </kpc-container>
    </main>
  </body>
</html>
