<h2><%= t("edit") + " " + resource_name.to_s.humanize %></h2>

<%= form_with(model: resource, url: registration_path(resource_name), method: :put, local: false) do |f| %>
  <%= render "users/shared/error_messages", resource: resource %>

  <app-form-group>
    <%= f.label :email %><br />
    <%= sl_email **form_fields(resource, :email) %>
  </app-form-group>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div><%= t("auth.waiting_confirmation") %>: <%= resource.unconfirmed_email %></div>
  <% end %>

  <app-form-group>
    <%= f.label :password %> <small>(<%= t("auth.no_change") %>) </small><br />
    <%= sl_password autocomplete: "new-password" **form_fields(resource, :password) %>>
      <% if @minimum_password_length %>
        <br />
        <small><%= "#{@minimum_password_length} #{t('auth.minimum_characters')}" %> </small>
      <% end %>
    <% end %>
  </app-form-group>

  <app-form-group>
    <%= f.label :password_confirmation %><br />
    <%= sl_password autocomplete: "new-password", **form_fields(resource, :password_confirmation) %>
  </app-form-group>

  <app-form-group>
    <%= f.label :current_password %> <small>(<%= t("auth.current_password_prompt") %>)</small><br />
    <%= sl_password autocomplete: "current-password", **form_fields(resource, :current_password) %>
  </app-form-group>

  <sl-button-group>
    <%= sl_submit { t("update") } %>
  </sl-button-group>
<% end %>

<h3><%= t("auth.cancel") %></h3>

<p><%= button_to t("auth.cancel"), registration_path(resource_name), data: { confirm: t("are_you_sure") }, method: :delete %></p>

<%= link_to t("back"), :back %>
