<h2><%= t("edit") + " " + resource_name.to_s.humanize %></h2>

<%= form_with(model: resource, url: registration_path(resource_name), method: :put, local: false) do |f| %>
  <%= render "users/registrations/email_field", resource: resource %>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div><%= t("auth.waiting_confirmation") %>: <%= resource.unconfirmed_email %></div>
  <% end %>

  <%= render "users/registrations/current_password_field", resource: resource %>
  <%= render "users/registrations/change_password_field", resource: resource %>
  <%= render "users/registrations/confirm_password_field", resource: resource %>

  <kpc-form-group size="medium">
    <%= sl_submit { t("update") } %>
  </kpc-form-group>

  <kpc-form-group size="medium">
    <%= sl_submit variant: "danger", formmethod: :delete, data: { controller: "confirm" } do %>
      <%= t("auth.cancel") %>
    <% end %>
  </kpc-form-group>
<% end %>
