<h2><%= t("auth.signup") %></h2>

<%= sl_form_with(model: resource, url: registration_path(resource_name)) do |f| %>
  <%= render "users/shared/error_messages", resource: resource %>

  <app-form-group>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </app-form-group>

  <app-form-group>
    <sl-input id="<%= form_id(resource, :password) %>" name="<%= form_name(resource, :password) %>"
                                                       type="password" autocomplete="new-password"
                                                       toggle-password>
      <label slot="label">
        <%= t("password") %>
        <% if @minimum_password_length %>
          <small>(<%= @minimum_password_length + " " + t("minimum_characters") %>)</small><br />
        <% end %>
      </label>
    </sl-input>
  </app-form-group>

  <sl-button-group>
    <%= f.submit t("auth.signup") %>
  </sl-button-group>
<% end %>

<div>
  <%= render "users/shared/links" %>
</div>
